<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li class="active"><a ng-href="/maps">Maps</a></li>
  </ul>
  <h3 class="text-muted">RoadSense</h3>
</div>

<google-map center="map.center" zoom="map.zoom" pan="map.pan"></google-map>